# =================================================================
# Custom Aliases
# =================================================================

# SSH Aliases
alias sshnas="ssh SuQiankun@192.168.50.222"

# Mount Aliases
alias mountnas="sudo mount -t nfs -o resvport,rw,soft,intr,tcp,nfsvers=4 100.70.4.14:/volume3/Mac_Ext_Storage ~/NAS_Storage"

# Add your custom aliases below
# Example:
# alias gs="git status"
# alias ga="git add"
