[tools]
go = "{{ .versions.go }}"
java = "{{ .versions.java }}"
node = "{{ .versions.node }}"
python = "{{ .versions.python }}"

"npm:@anthropic-ai/claude-code" = "latest"
"npm:@google/gemini-cli" = "latest"